<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite">
  <test name="Test" preserve-order="true" parallel="classes">
  <parameter name="Browser" value="Chrome"/>
  <parameter name="AppURL" value="https://opensource-demo.orangehrmlive.com/"/>
    <classes>
       <class name="testcases.TC_002"/>  
       <!--  <class name="testcases.TC_001"/>     -->   
    </classes>
    
  </test> 
</suite> 
